SIIT.SimpleAssetRegistrationStation/Energetic Simple Asset/Connected Services/AssetWebApi/webapi4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nhoppasit-pc2/asset/webapi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Asset" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorningCheck">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MorningCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MorningCheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="arg1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arg2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="TestListResult" nillable="true" type="q3:ArrayOfColumnBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByTid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByTidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="SearchByTidResult" nillable="true" type="q4:ResultModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByFid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByFidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="SearchByFidResult" nillable="true" type="q5:ResultModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoomCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Epc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Tid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AssetLabel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AssetType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AssetDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="SaveResult" nillable="true" type="q6:ResultModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByRoomCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoomCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByRoomCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="SearchByRoomCodeResult" nillable="true" type="q7:ResultModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByRoomTID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByRoomTIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="SearchByRoomTIDResult" nillable="true" type="q8:ResultModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoomSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Epc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Tid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RoomCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RoomDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoomSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="RoomSaveResult" nillable="true" type="q9:ResultModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoomAssetSearchByAssetTID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssetTID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoomAssetSearchByAssetTIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="RoomAssetSearchByAssetTIDResult" nillable="true" type="q10:ResultModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoomAssetSearchByAssetFID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssetFID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoomAssetSearchByAssetFIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="RoomAssetSearchByAssetFIDResult" nillable="true" type="q11:ResultModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoomAsset_AssetSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="room_tid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="room_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="room_description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asset_tid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asset_fid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asset_label" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asset_description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="epc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoomAsset_AssetSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="RoomAsset_AssetSaveResult" nillable="true" type="q12:ResultModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoomAssetSearchByRoomTID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoomTID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoomAssetSearchByRoomTIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="RoomAssetSearchByRoomTIDResult" nillable="true" type="q13:ResultModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoomAssetSearchByRoomCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ROOM_CODE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoomAssetSearchByRoomCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="RoomAssetSearchByRoomCodeResult" nillable="true" type="q14:ResultModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoomAsset_RoomSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="room_tid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="room_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="room_description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asset_tid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asset_fid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asset_label" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asset_description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="epc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoomAsset_RoomSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="RoomAsset_RoomSaveResult" nillable="true" type="q15:ResultModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoomAssetSelectAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RoomAssetSelectAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="RoomAssetSelectAllResult" nillable="true" type="q16:ResultModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>